<?php

$time = gmdate("D, d M Y H:i:s") . " GMT";

header("Expires: " . $time);
header("Last-Modified: " . $time);
header("Pragma: no-cache");
header("Cache-Control: no-cache, must-revalidate");

?><!DOCTYPE html>
<html lang="en-US">
<head>
    <title><?php echo get_current_user() . '@' . gethostname(); ?></title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1><?php echo get_current_user() . '@' . gethostname(); ?></h1>
    <h2>websites</h2>
    <hr>
    <ol>
        <li>Media Site <a href="https://media-site.dev.php73.ez">Frontend</a> | <a href="https://media-site.prod.php73.ez/ngadminui">Admin</a></li>
    </ol>
    <details>
        <summary>About host format</summary>
        <blockquote>
            <p>Host must conform to format <code>installation_dir.symfony_environment.php_version.(ez|sf)</code></p>
            <p>For example, host <code>media-site.dev.php73.ez</code> is resolved to</p>
            <ul>
                <li>installation directory <code>/var/www/media-site</code></li>
                <li>public directory <code>/var/www/media-site/web</code></li>
                <li>Syfmony environment <code>dev</code></li>
                <li>PHP version 7.3</li>
                <li>Nginx configuration for eZ Platform</li>
            </ul>
            <h3>When using custom app/public directory setup</h3>
            <hr>
            <p>If installation directory part of the host contains a double dash, installation uses custom public directories and</p>
            <ul>
                <li>part before the double dash is the actual installation directory</li>
                <li>part after the double dash is the public directory</li>
            </ul>

            <p>Then in case of host <code>media-site--public.dev.php73.ez</code> you have</p>
            <ul>
                <li>installation directory <code>/var/www/media-site</code></li>
                <li>public directory <code>/var/www/media-site/public</code></li>
            </ul>
            <h3>When using host siteaccess matching</h3>
            <hr>
            <p>If your installation uses host siteaccess matching, symlink it into the <code>/var/www</code> separately for each subdomain</p>
            <ul>
                <li><code>ln -s /Users/<?php echo get_current_user(); ?>/projects/media-site one.media-site</code></li>
                <li><code>ln -s /Users/<?php echo get_current_user(); ?>/projects/media-site two.media-site</code></li>
            </ul>
            <p>Then access it with</p>
            <ul>
                <li><code>one.media-site.dev.php73.ez</code></li>
                <li><code>two.media-site.dev.php73.ez</code></li>
            </ul>
            <p>You can use this approach together with custom app/public directory setup described above</p>
        </blockquote>
    </details>
    <h2>services</h2>
    <hr>
    <ol>
        <li>PHP 7.4 <a href="https://phpinfo.php74">info</a> | <a href="https://home.php74/status?full&html">status</a></li>
        <li>PHP 7.3 <a href="https://phpinfo.php73">info</a> | <a href="https://home.php73/status?full&html">status</a></li>
        <li>PHP 7.2 <a href="https://phpinfo.php72">info</a> | <a href="https://home.php72/status?full&html">status</a></li>
        <li>PHP 7.1 <a href="https://phpinfo.php71">info</a> | <a href="https://home.php71/status?full&html">status</a></li>
        <li>PHP 5.6 <a href="https://phpinfo.php56">info</a> | <a href="https://home.php56/status?full&html">status</a></li>
    </ol>
    <h2>extras</h2>
    <hr>
    <ol>
        <li><a href="https://docs.netgen.io/">Netgen Docs</a></li>
    </ol>
    <p style="text-align:right;">PHP <?php echo PHP_VERSION;?></p>
</body>
</html>
